@model IEnumerable<CarLib.Models.Model>

@{
    ViewData["Title"] = "Модели";
}

<h1>Модели</h1>

<p>
    <a asp-action="Create">Добавить</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.ActionLink("Название модели", "Index", new { sortOrder = ViewBag.NameSortParam })
            </th>
            <th>
                @Html.ActionLink("Актуальность", "index", new { sortOrder = ViewBag.ActiveSortParam })
            </th>
            <th>
                @Html.ActionLink("Марка", "Index", new { sortOrder = ViewBag.BrandSortParam })
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td style="@(item.Active?"color:black;":"color:gray;")">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="@(item.Active?"color:black;":"color:gray;")">
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td style="@(item.Active?"color:black;":"color:gray;")">
                @Html.DisplayFor(modelItem => item.Brand.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
